<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - EShop</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    EShop
                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarContent"
                        aria-controls="navbarContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse"
                     id="navbarContent">

                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark"
                                   asp-controller="Home"
                                   asp-action="Index">
                                All Products
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark"
                                   asp-controller="Orders"
                                   asp-action="Index">
                                Your Orders
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark"
                                   asp-controller="Home"
                                   asp-action="Privacy">
                                Privacy
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark"
                                   asp-controller="Home"
                                   asp-action="About">
                                About
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - EShop
        </div>
    </footer>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/js/productList.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
