<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="utf-8" />
        <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    </head>
    <body>
    <section class="bg-primary text-white text-center py-5">
        <div class="container">
            <h1 class="display-4">Главный баннер</h1>
            <p class="lead">Краткое описание или слоган</p>
            <a href="#" class="btn btn-light btn-lg">Подробнее</a>
        </div>
    </section>
    </body>
</html>